@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400);
@import url(segmented_controls.css);
html,
body {font-family: 'Open Sans', '微軟正黑體', sans-serif;margin: 0;padding: 0;background: #5d676c;}
ul,ol {list-style: none;margin:0;padding:0;}
.btn-primary {background-color:#07acb2;border:1px solid #0aa7a7;}
.btn-primary:hover {background-color:#2bedf8;border:1px solid #29cbfa;}
.btn-danger {background-color:#bb0102;}
/* for .band-f block btn color */
.band-f .btn-primary {background-color:#00797d;}
.btn-primary:hover {background-color:#006063;border:1px solid #00797d;}

.l-site {margin: 0 auto;max-width: 1600px;position: relative;z-index: 1;}
.l-site:before {
content: "";
position: fixed;
top: 0;
left: 0;
bottom: 0;
width: 50%;
display: block;
background: #3a4043;
z-index: 1;
}

.l-page {
position: relative;
margin-left: 20rem;
background: #fff;
z-index: 2;
box-shadow: 1px 0 25px rgba(0, 0, 0, 0.25);
-webkit-transition: 0.35s;
-moz-transition: 0.35s;
transition: 0.35s;
}

.l-nav {
position: absolute;
width: 20rem;
display: block;
background: #3a4043;
background: -moz-linear-gradient(0deg, rgba(58,64,67,1) 0%, rgba(58,64,67,1) 80%, rgba(55,60,60,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(58,64,67,1)), color-stop(80%, rgba(58,64,67,1)), color-stop(100%, rgba(55,60,60,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(0deg, rgba(58,64,67,1) 0%, rgba(58,64,67,1) 80%, rgba(55,60,60,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(0deg, rgba(58,64,67,1) 0%, rgba(58,64,67,1) 80%, rgba(55,60,60,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(0deg, rgba(58,64,67,1) 0%, rgba(58,64,67,1) 80%, rgba(55,60,60,1) 100%); /* ie10+ */
background: linear-gradient(90deg, rgba(58,64,67,1) 0%, rgba(58,64,67,1) 80%, rgba(55,60,60,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a4043', endColorstr='#373C3C',GradientType=1 ); /* ie6-9 */
top: 0;
bottom: 0;
left: 0;
z-index: 3;
}

.band h1 {margin: 0;padding: 0 0 10px;color: #fff;font-size: 32px;
text-shadow: 0 2px 3px rgba(0, 0, 0, .25);
-webkit-text-shadow: 0 2px 3px rgba(0, 0, 0, .25);
-moz-text-shadow: 0 2px 3px rgba(0, 0, 0, .25);
}
.band-inner h1.threeD {
	margin-bottom:1rem;
	text-shadow: 0 1px 0 #ccc,
	0 0 5px rgba(0,0,0,.1),
	0 1px 3px rgba(0,0,0,.5),
	0 3px 5px rgba(0,0,0,.3);
}
.band p {margin: 0;padding: 0;color: #fff;font-size: 16px;}
.band-container {
left: 0;
right: 0;
margin: 0 auto;
height: 100vh;
max-width: 960px;
display: table;
position: relative;
padding: 0 3em;
}

.band-inner {position: relative;display: table-cell;vertical-align: top;padding: 3em 0 4em;}

.band-a {background: #69D2E7;}
.band-b {background: #F9D423;}
.band-c {background: #F38630;}
.band-d {background: #FF4E50;}
.band-e {background: #aaa5b3;}
.band-f {background: #08A4AB;}
.band-g {background: #9e8b52;}
.band-h {background: #f7b881;}
.band-grey {background: #e2e7e8;}

.nav {width: 20rem;position: fixed;top: 0;bottom: 0;margin: 0;padding: 20px;overflow: auto;}
.nav ul {margin: 0;padding: 0;list-style: none;}
.nav li {
margin: 0;
padding: 0;
-webkit-transition: 0.25s;
-moz-transition: 0.25s;
transition: 0.25s;
}
.nav a {
color: #fff;
text-decoration: none;
font-size: 2rem;
font-weight__: 800;
display: block;
padding: 10px 0;
}
.nav a.btn {font-size:1.6rem;padding: .5rem 1.5rem;margin-top:.6rem;display: inline-block;}
.nav a i {min-width: 1.5rem;font-size:1.6rem;color:rgba(255,255,255,.65);}
.nav .nav-primary {opacity: 1;}
.nav .nav-primary:hover {opacity: 0.7;}
.nav .nav-secondary {opacity: 0.4;}
.nav .nav-secondary:hover {opacity: 0.7;}

.menu {
display: none;
position: fixed;
top: 1rem;
left: 1.5em;
width: 24px;
height: 24px;
cursor: pointer;
z-index: 10;
}
.menu:hover .menu-hamburger:before,
.menu:hover .menu-hamburger:after {width: 24px;}
.menu.is-active .menu-hamburger {background: none;box-shadow:none;-webkit-box-shadow:none;}
.menu.is-active .menu-hamburger:before,
.menu.is-active .menu-hamburger:after {
top: 0;
width: 24px;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
.menu.is-active .menu-hamburger:after {
-webkit-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
transform: rotate(-45deg);
}
.menu.is-active .menu-hamburger:hover {
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
}

.menu-hamburger {
position: relative;
width: 24px;
height: 4px;
margin: 10px 0;
background: #fff;
border-radius: 4px;
box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.menu-hamburger:before, .menu-hamburger:after {
content: '';
display: block;
width: 24px;
height: 4px;
background: #fff;
position: absolute;
border-radius: 4px;
box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.menu-hamburger:before {top: -8px;left: 0;width: 22px;}
.menu-hamburger:after {top: 8px;width: 16px;left: 0;}

/* OnOff Switch */
.onoffswitch {
	float_: right;
	top: .4rem;
	position: relative; width: 95px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
	display: none;
}
.onoffswitch-label {
	display: block; overflow: hidden; cursor: pointer;
	border: 2px solid #CFCFCF; border-radius: 20px;
}
.onoffswitch-inner {
	display: block; width: 200%; margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
	font-size: 16px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
	box-sizing: border-box;
}
.onoffswitch-inner:before {
	content: "同意";
	padding-left: 10px;
	background-color: #07acb2; color: #FFFFFF;
}
.onoffswitch-inner:after {
	content: "不同意";
	padding-right: 10px;
	background-color: #EEEEEE; color: #999999;
	text-align: right;
}
.onoffswitch-switch {
	display: block; width: 22px; margin: 6px;
	background: #FFFFFF;
	position: absolute; top: 0; bottom: 0;
	right: 60px;
	border: 2px solid #CFCFCF; border-radius: 20px;
	transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {margin-left: 0;}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {right: 0px;}
/* OnOff Switch */

/* 一周日期跳出萬年曆 */
.sel_date {position:relative;cursor: pointer;}
.sel_date:after {
	position:absolute;
	left:50%;
	bottom:-1.5rem;
	margin-left:-6px;
	content:'';
	display:inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 12px 9px 0 9px;
	border-color: #fff transparent transparent transparent;
}
/* 一周日期跳出萬年曆 */

.breadcrumb {background-color:transparent;color:#fff;padding:8px 0;}
.breadcrumb a,.breadcrumb li.active,.breadcrumb>li+li:before {color:#fff;font-size:1.6rem;}
.tool_btns {margin:0;padding:0;list-style: none;display:table;width:100%;}
.tool_btns li {display__:inline-block;display: table-cell;text-align:center;padding:0 .5rem;}

@media screen and (max-width: 980px) {
	.menu {display: block;}
	.nav ul {margin-top: 2rem;}
	.nav a.btn {display:block;}
	.l-site.is-open {overflow: hidden;}
	.l-site.is-open .l-page {
		-webkit-transform: translateX(20rem);
		-moz-transform: translateX(20rem);
		-ms-transform: translateX(20rem);
		-o-transform: translateX(20rem);
		transform: translateX(20rem);
	}

	.l-page {margin-left: 0;z-index: 3;}
	.l-nav {z-index: 2;}
	.band-container {padding: 0 1.5em;}
	.tool_btns li {padding:0!important;}
	.tool_btns li a {font-size:1.5rem;border-radius: 0;}
	.tool_btns li a i {display:block;font-size:2.5rem;}
}